force-app/main/default/flows/BLA_Business_License_Creator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Polygon_Schedule_to_List</name>
        <label>Add Polygon Schedule to List</label>
        <locationX>270</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>polygonScheduleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>polygonSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_all_polygon_schedule_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_BL_lokkup_on_Polygon_Schedule_Record</name>
        <label>Populate BL lokkup on Polygon Schedule Record</label>
        <locationX>270</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>polygonSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_all_polygon_schedule_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>polygonSchedule.Business_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Business_License_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Polygon_Schedule_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Applicant_is_present</name>
        <label>Check if Applicant is present</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_Business_License_lookup_on_BLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_applicant_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Business_License_Records_with_Applicant</targetReference>
            </connector>
            <label>If applicant is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Applicant_is_present_on_BLA</name>
        <label>Check If Applicant is present on BLA</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Business_License_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Applicant_is_present_on_BLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record_Associated_with_Applicant</targetReference>
            </connector>
            <label>If Applicant is present on BLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>businessLicenseName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot;A&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>BLA - Business License Creator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLA - Business License Creator Flow</label>
    <loops>
        <name>Iterate_over_all_polygon_schedule_records</name>
        <label>Iterate over all polygon schedule records</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_all_the_polygon_schedule_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_BL_lokkup_on_Polygon_Schedule_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Polygon_Schedule_Records_with_BL_lookup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Business_License_Record</name>
        <label>Create Business License Record</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Check_if_Applicant_is_present</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Record_Owner_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issuer</field>
            <value>
                <elementReference>Get_Record_Owner_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>businessLicenseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>$Record.LicenseTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_User_Record_Associated_with_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerifiedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Business_License_Records_with_Applicant</name>
        <label>Share Business License Records with Applicant</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Business_License_lookup_on_BLA</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Business_License_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_User_Record_Associated_with_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_the_polygon_schedule_records</name>
        <label>Get all the polygon schedule records</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_all_polygon_schedule_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BLA_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Polygon_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Owner_Details</name>
        <label>Get Record Owner Details</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Applicant_is_present_on_BLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record_Associated_with_Applicant</name>
        <label>Get User Record Associated with Applicant</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Business_License_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_License_lookup_on_BLA</name>
        <label>Update Business License lookup on BLA</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Get_all_the_polygon_schedule_records</targetReference>
        </connector>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>Create_Business_License_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Polygon_Schedule_Records_with_BL_lookup</name>
        <label>Update Polygon Schedule Records with BL lookup</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <inputReference>polygonScheduleList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Owner_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>polygonSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Polygon_Schedule__c</objectType>
    </variables>
    <variables>
        <name>polygonScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Polygon_Schedule__c</objectType>
    </variables>
</Flow>
