force-app/main/default/flows/BLA_Task_Creator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Task_Record_to_the_List</name>
        <label>Add Task Record to the List</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>TaskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Activity_Metadata_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Record</name>
        <label>Task Record</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Activity_Metadata_Records.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Map_Review_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Activity_Metadata_Records.Map_Review_Activity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Record_to_the_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Status_is_updated</name>
        <label>Check if Status is updated</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_Metadata_Records</targetReference>
            </connector>
            <label>Status is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BLA - Task Creator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLA - Task Creator Flow</label>
    <loops>
        <name>Iterate_Over_Activity_Metadata_Records</name>
        <label>Iterate Over Activity Metadata Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Activity_Metadata_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Records</name>
        <label>Create Task Records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>TaskRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Activity_Metadata_Records</name>
        <label>Get Activity Metadata Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Activity_Metadata_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reviewer_Tasks__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Status_is_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Review</stringValue>
            </value>
        </filters>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
