force-app/main/default/flows/BLA_Share_BLA_Record_with_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_Applicant_is_present_on_BLA</name>
        <label>Check if Applicant is present on BLA</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Applicant_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user_record_associated_with_applicant</targetReference>
            </connector>
            <label>If Applicant is present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ReadorWriteAccess</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status} ,&apos;Submitted&apos;), &apos;Read&apos;, &apos;Edit&apos;)</expression>
    </formulas>
    <interviewLabel>BLA - Share BLA Record with Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLA - Share BLA Record with Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Business_License_Application_Record_with_Applicant</name>
        <label>Share Business License Application Record with Applicant</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_user_record_associated_with_applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplicationShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_user_record_associated_with_applicant</name>
        <label>Get user record associated with applicant</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Share_Business_License_Application_Record_with_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Applicant_is_present_on_BLA</targetReference>
        </connector>
        <filterFormula>AND(
{!$Record.Source__c} = &apos;Esri Community&apos; ,
OR(
ISCHANGED({!$Record.OwnerId}), ISNEW()
)
)</filterFormula>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BLA_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BusinessLicenseApplicationShare</objectType>
    </variables>
</Flow>
