force-app/main/default/flows/Task_Update_BLA_Status_and_Reviewer_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Populate_all_comments</name>
        <label>Populate all comments</label>
        <locationX>567</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>revComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_all_the_task_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_all_activites_are_approve</name>
        <label>Check if all activites are approved</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Update_Business_License_Application_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_all_activites_are_approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Rejected_Activities_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_License_Application_Record_and_Activity_Status</targetReference>
            </connector>
            <label>If all activites are approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Approval_Status_is_updated</name>
        <label>Check if Approval Status is updated</label>
        <locationX>611</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approval_Status_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_the_task_records_which_are_not_reviewed_yet</targetReference>
            </connector>
            <label>If Approval Status is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_comments_are_updated_on_task_record</name>
        <label>Check if comments are updated on task record</label>
        <locationX>611</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Check_if_Approval_Status_is_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_comments_are_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_the_task_records_associated_with_BLA</targetReference>
            </connector>
            <label>If comments are updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Description_is_not_blank</name>
        <label>Check if Description is not blank</label>
        <locationX>699</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_all_the_task_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_description_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_all_the_task_records.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_all_comments</targetReference>
            </connector>
            <label>If description is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_all_the_activities_are_reviewed</name>
        <label>If all the activities are reviewed</label>
        <locationX>380</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_there_is_no_activity_with_blank_approval_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_the_task_records_which_are_not_reviewed_yet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Rejected_Activities_Records</targetReference>
            </connector>
            <label>Check there is no activity with blank approval status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>curComment</name>
        <dataType>String</dataType>
        <expression>{!revComment} + {!Iterate_over_all_the_task_records.Subject} + &apos;:&apos; + {!Iterate_over_all_the_task_records.Description} + BR()</expression>
    </formulas>
    <interviewLabel>Task - Update BLA Status &amp; Reviewer Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update BLA Status and Reviewer Comments</label>
    <loops>
        <name>Iterate_over_all_the_task_records</name>
        <label>Iterate over all the task records</label>
        <locationX>479</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_all_the_task_records_associated_with_BLA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Description_is_not_blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_BLA_with_Reviewer_Comments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Rejected_Activities_Records</name>
        <label>Get All Rejected Activities Records</label>
        <locationX>182</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_all_activites_are_approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_the_task_records_associated_with_BLA</name>
        <label>Get all the task records associated with BLA</label>
        <locationX>479</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_all_the_task_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_the_task_records_which_are_not_reviewed_yet</name>
        <label>Get all the task records which are not reviewed yet</label>
        <locationX>380</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_all_the_activities_are_reviewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BLA_with_Reviewer_Comments</name>
        <label>Update BLA with Reviewer Comments</label>
        <locationX>479</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Check_if_Approval_Status_is_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reviewer_Comments__c</field>
            <value>
                <elementReference>revComment</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_License_Application_Record</name>
        <label>Update Business License Application Record</label>
        <locationX>314</locationX>
        <locationY>1991</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Review Completed</stringValue>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_License_Application_Record_and_Activity_Status</name>
        <label>Update Business License Application Record and Activity Status</label>
        <locationX>50</locationX>
        <locationY>1991</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Review Completed</stringValue>
            </value>
        </inputAssignments>
        <object>BusinessLicenseApplication</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_comments_are_updated_on_task_record</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0f0</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>revComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
